VWS_MAGENTO_2_JDE/VWS_MAGENTO_2_JDE/Files/schemas/AB_JMS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Regev (private) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns="http://www.schemas.e1.oracle.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.schemas.e1.oracle.com">
	<xs:complexType name="T_szWorkStationId"/>
	<xs:complexType name="T_szUserReservedReference"/>
	<xs:complexType name="T_szUserReservedCode"/>
	<xs:complexType name="T_szUserId"/>
	<xs:complexType name="T_szTypeTransaction"/>
	<xs:complexType name="T_szTransactionOriginator"/>
	<xs:complexType name="T_szTransactionAction"/>
	<xs:complexType name="T_szTradingPartnerId"/>
	<xs:complexType name="T_szTaxId2"/>
	<xs:complexType name="T_szTaxId"/>
	<xs:complexType name="T_szStandardIndustryCode"/>
	<xs:complexType name="T_szSecondaryMailingName"/>
	<xs:complexType name="T_szReportCodeAddBook020"/>
	<xs:complexType name="T_szReportCodeAddBook019"/>
	<xs:complexType name="T_szReportCodeAddBook018"/>
	<xs:complexType name="T_szReportCodeAddBook017"/>
	<xs:complexType name="T_szReportCodeAddBook016"/>
	<xs:complexType name="T_szReportCodeAddBook015"/>
	<xs:complexType name="T_szReportCodeAddBook014"/>
	<xs:complexType name="T_szReportCodeAddBook013"/>
	<xs:complexType name="T_szReportCodeAddBook012"/>
	<xs:complexType name="T_szReportCodeAddBook011"/>
	<xs:complexType name="T_szReportCodeAddBook010"/>
	<xs:complexType name="T_szReportCodeAddBook009"/>
	<xs:complexType name="T_szReportCodeAddBook008"/>
	<xs:complexType name="T_szReportCodeAddBook007"/>
	<xs:complexType name="T_szReportCodeAddBook006"/>
	<xs:complexType name="T_szReportCodeAddBook005"/>
	<xs:complexType name="T_szReportCodeAddBook004"/>
	<xs:complexType name="T_szReportCodeAddBook003"/>
	<xs:complexType name="T_szReportCodeAddBook002"/>
	<xs:complexType name="T_szReportCodeAddBook001"/>
	<xs:complexType name="T_szPhoneNumberTyp1"/>
	<xs:complexType name="T_szPhoneAreaCode2"/>
	<xs:complexType name="T_szPhoneAreaCode1"/>
	<xs:complexType name="T_szNameRemark"/>
	<xs:complexType name="T_szLanguagePreference"/>
	<xs:complexType name="T_szKanjialpha"/>
	<xs:complexType name="T_szGlBankAccount"/>
	<xs:complexType name="T_szEmailAddressow"/>
	<xs:complexType name="T_szEdiUserId"/>
	<xs:complexType name="T_szEdiTranslationFormat"/>
	<xs:complexType name="T_szEdiTransactNumber"/>
	<xs:complexType name="T_szEdiDocumentType"/>
	<xs:complexType name="T_szEdiBatchNumber"/>
	<xs:complexType name="T_szDescripCompressed"/>
	<xs:complexType name="T_szCreditMessage"/>
	<xs:complexType name="T_szCountyAddress"/>
	<xs:complexType name="T_szContactTitle"/>
	<xs:complexType name="T_szCertificateTaxExempt"/>
	<xs:complexType name="T_szCategoryCodeAddressBook2"/>
	<xs:complexType name="T_szCategoryCodeAddressBk30"/>
	<xs:complexType name="T_szCategoryCodeAddressBk29"/>
	<xs:complexType name="T_szCategoryCodeAddressBk28"/>
	<xs:complexType name="T_szCategoryCodeAddressBk27"/>
	<xs:complexType name="T_szCategoryCodeAddressBk26"/>
	<xs:complexType name="T_szCategoryCodeAddressBk25"/>
	<xs:complexType name="T_szCategoryCodeAddressBk24"/>
	<xs:complexType name="T_szCategoryCodeAddressBk23"/>
	<xs:complexType name="T_szCategoryCodeAddressBk22"/>
	<xs:complexType name="T_szAlternateAddressKey"/>
	<xs:complexType name="T_szAddressLine4"/>
	<xs:complexType name="T_szAddressLine3"/>
	<xs:complexType name="T_szAddressLine2"/>
	<xs:complexType name="T_scope"/>
	<xs:complexType name="T_jdeResponse">
		<xs:sequence>
			<xs:element ref="event"/>
		</xs:sequence>
		<xs:attribute name="user" type="xs:string" use="required"/>
		<xs:attribute name="type" type="xs:string" use="required"/>
		<xs:attribute name="token" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="session" type="xs:string" use="required"/>
		<xs:attribute name="role" type="xs:string" use="required"/>
		<xs:attribute name="responseCreator" type="xs:string" use="required"/>
		<xs:attribute name="pwd" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="environment" type="xs:string" use="required"/>
		<xs:attribute name="category" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_jdUserReservedDate"/>
	<xs:complexType name="T_jdEdiTransmissionDate"/>
	<xs:complexType name="T_jdDateUpdated"/>
	<xs:complexType name="T_jdDateScheduledIn"/>
	<xs:complexType name="T_jdDateBeginningEffective"/>
	<xs:complexType name="T_instanceInfo">
		<xs:sequence>
			<xs:element ref="host"/>
			<xs:element ref="port"/>
			<xs:element ref="type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_header">
		<xs:sequence>
			<xs:element ref="eventVersion"/>
			<xs:element ref="type"/>
			<xs:element ref="user"/>
			<xs:element ref="role"/>
			<xs:element ref="application"/>
			<xs:element ref="version"/>
			<xs:element ref="sessionID"/>
			<xs:element ref="environment"/>
			<xs:element ref="host"/>
			<xs:element ref="sequenceID"/>
			<xs:element ref="date"/>
			<xs:element ref="time"/>
			<xs:element ref="scope"/>
			<xs:element ref="codepage"/>
			<xs:element ref="instanceInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_event">
		<xs:sequence>
			<xs:element ref="header"/>
			<xs:element ref="body"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_detail_D0100085A">
		<xs:sequence>
			<xs:element ref="szPhoneNumberTyp2"/>
			<xs:element ref="szTransactionOriginator"/>
			<xs:element ref="cAddressType5"/>
			<xs:element ref="szPhoneNumberTyp1"/>
			<xs:element ref="cAddressType4"/>
			<xs:element ref="cAddressType3"/>
			<xs:element ref="cAddressType2"/>
			<xs:element ref="szCategoryCodeAddressBook2"/>
			<xs:element ref="szTaxId"/>
			<xs:element ref="szEdiTranslationFormat"/>
			<xs:element ref="szTypeTransaction"/>
			<xs:element ref="cActionMessageControl"/>
			<xs:element ref="szPhoneNumber1"/>
			<xs:element ref="szCategoryCodeAddressBk29"/>
			<xs:element ref="mnEdiDetailLinesProcess"/>
			<xs:element ref="szCategoryCodeAddressBk28"/>
			<xs:element ref="szCategoryCodeAddressBk27"/>
			<xs:element ref="szProgramId"/>
			<xs:element ref="cPersonCorporationCode"/>
			<xs:element ref="szCategoryCodeAddressBk26"/>
			<xs:element ref="szCategoryCodeAddressBk25"/>
			<xs:element ref="szGlBankAccount"/>
			<xs:element ref="szCategoryCodeAddressBk24"/>
			<xs:element ref="szCategoryCodeAddressBk23"/>
			<xs:element ref="szCategoryCodeAddressBk22"/>
			<xs:element ref="szTaxId2"/>
			<xs:element ref="mnAddressNumber"/>
			<xs:element ref="mnTimeOfDay"/>
			<xs:element ref="szTransactionAction"/>
			<xs:element ref="cAddressTypeEmployee"/>
			<xs:element ref="szCreditMessage"/>
			<xs:element ref="szCountry"/>
			<xs:element ref="szUserId"/>
			<xs:element ref="szReportCodeAddBook020"/>
			<xs:element ref="jdDateBeginningEffective"/>
			<xs:element ref="cDirectionIndicator"/>
			<xs:element ref="szKanjialpha"/>
			<xs:element ref="cAddTypeCode4Purch"/>
			<xs:element ref="szCountyAddress"/>
			<xs:element ref="szAddressLine4"/>
			<xs:element ref="szAddressLine3"/>
			<xs:element ref="szAddressLine2"/>
			<xs:element ref="szAddressLine1"/>
			<xs:element ref="szSearchType"/>
			<xs:element ref="szReportCodeAddBook019"/>
			<xs:element ref="szWorkStationId"/>
			<xs:element ref="mnTimeScheduledIn"/>
			<xs:element ref="szReportCodeAddBook018"/>
			<xs:element ref="szReportCodeAddBook017"/>
			<xs:element ref="szReportCodeAddBook016"/>
			<xs:element ref="jdEdiTransmissionDate"/>
			<xs:element ref="szReportCodeAddBook015"/>
			<xs:element ref="cActionCode"/>
			<xs:element ref="szReportCodeAddBook014"/>
			<xs:element ref="szReportCodeAddBook013"/>
			<xs:element ref="szReportCodeAddBook012"/>
			<xs:element ref="szReportCodeAddBook011"/>
			<xs:element ref="szReportCodeAddBook010"/>
			<xs:element ref="mnAddressNumber6th"/>
			<xs:element ref="szContactTitle"/>
			<xs:element ref="szState"/>
			<xs:element ref="szZipCodePostal"/>
			<xs:element ref="szEdiUserId"/>
			<xs:element ref="cAddressTypeReceivables"/>
			<xs:element ref="mnAddressNumber5th"/>
			<xs:element ref="szSecondaryMailingName"/>
			<xs:element ref="mnUserReservedNumber"/>
			<xs:element ref="mnAddressNumber4th"/>
			<xs:element ref="szTradingPartnerId"/>
			<xs:element ref="cSubledgerInactiveCode"/>
			<xs:element ref="jdUserReservedDate"/>
			<xs:element ref="szReportCodeAddBook009"/>
			<xs:element ref="szReportCodeAddBook008"/>
			<xs:element ref="szReportCodeAddBook007"/>
			<xs:element ref="szCertificateTaxExempt"/>
			<xs:element ref="mnAddressNumber2nd"/>
			<xs:element ref="szReportCodeAddBook006"/>
			<xs:element ref="jdDateScheduledIn"/>
			<xs:element ref="szReportCodeAddBook005"/>
			<xs:element ref="szUserReservedCode"/>
			<xs:element ref="szReportCodeAddBook004"/>
			<xs:element ref="szAlternateAddressKey"/>
			<xs:element ref="szReportCodeAddBook003"/>
			<xs:element ref="szReportCodeAddBook002"/>
			<xs:element ref="szLanguagePreference"/>
			<xs:element ref="szReportCodeAddBook001"/>
			<xs:element ref="szPhoneNumber"/>
			<xs:element ref="szEmailAddressow"/>
			<xs:element ref="szNameAlpha"/>
			<xs:element ref="mnAddressNumber1st"/>
			<xs:element ref="mnEdiLineNumber"/>
			<xs:element ref="szPhoneAreaCode2"/>
			<xs:element ref="szPhoneAreaCode1"/>
			<xs:element ref="szEdiBatchNumber"/>
			<xs:element ref="szNameRemark"/>
			<xs:element ref="szEdiTransactNumber"/>
			<xs:element ref="szDescripCompressed"/>
			<xs:element ref="szBusinessUnit"/>
			<xs:element ref="szStandardIndustryCode"/>
			<xs:element ref="szEdiDocumentType"/>
			<xs:element ref="cMiscCode3"/>
			<xs:element ref="szMailingName"/>
			<xs:element ref="mnParentNumber"/>
			<xs:element ref="szUserReservedReference"/>
			<xs:element ref="mnAddressNumber3rd"/>
			<xs:element ref="jdDateUpdated"/>
			<xs:element ref="mnUserReservedAmount"/>
			<xs:element ref="cEdiSuccessfullyProcess"/>
			<xs:element ref="szCity"/>
			<xs:element ref="cAddressTypePayables"/>
			<xs:element ref="szCategoryCodeAddressBk30"/>
			<xs:element ref="mnTimeLastUpdated"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required"/>
		<xs:attribute name="time" type="xs:string" use="required"/>
		<xs:attribute name="parameterCount" type="xs:int" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="executionOrder" type="xs:int" use="required"/>
		<xs:attribute name="date" type="xs:string" use="required"/>
		<xs:attribute name="DSTMPL" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_cSubledgerInactiveCode"/>
	<xs:complexType name="T_cPersonCorporationCode"/>
	<xs:complexType name="T_cMiscCode3"/>
	<xs:complexType name="T_cEdiSuccessfullyProcess"/>
	<xs:complexType name="T_cDirectionIndicator"/>
	<xs:complexType name="T_cAddressTypeReceivables"/>
	<xs:complexType name="T_cAddressTypePayables"/>
	<xs:complexType name="T_cAddressTypeEmployee"/>
	<xs:complexType name="T_cAddressType5"/>
	<xs:complexType name="T_cAddressType4"/>
	<xs:complexType name="T_cAddressType3"/>
	<xs:complexType name="T_cAddressType2"/>
	<xs:complexType name="T_cAddTypeCode4Purch"/>
	<xs:complexType name="T_cActionMessageControl"/>
	<xs:complexType name="T_body">
		<xs:sequence>
			<xs:element ref="detail_D0100085A"/>
		</xs:sequence>
		<xs:attribute name="elementCount" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:element name="version" type="xs:string"/>
	<xs:element name="user" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="time" type="xs:string"/>
	<xs:element name="szZipCodePostal" type="xs:string"/>
	<xs:element name="szWorkStationId" type="T_szWorkStationId"/>
	<xs:element name="szUserReservedReference" type="T_szUserReservedReference"/>
	<xs:element name="szUserReservedCode" type="T_szUserReservedCode"/>
	<xs:element name="szUserId" type="T_szUserId"/>
	<xs:element name="szTypeTransaction" type="T_szTypeTransaction"/>
	<xs:element name="szTransactionOriginator" type="T_szTransactionOriginator"/>
	<xs:element name="szTransactionAction" type="T_szTransactionAction"/>
	<xs:element name="szTradingPartnerId" type="T_szTradingPartnerId"/>
	<xs:element name="szTaxId2" type="T_szTaxId2"/>
	<xs:element name="szTaxId" type="T_szTaxId"/>
	<xs:element name="szState" type="xs:string"/>
	<xs:element name="szStandardIndustryCode" type="T_szStandardIndustryCode"/>
	<xs:element name="szSecondaryMailingName" type="T_szSecondaryMailingName"/>
	<xs:element name="szSearchType" type="xs:string"/>
	<xs:element name="szReportCodeAddBook020" type="T_szReportCodeAddBook020"/>
	<xs:element name="szReportCodeAddBook019" type="T_szReportCodeAddBook019"/>
	<xs:element name="szReportCodeAddBook018" type="T_szReportCodeAddBook018"/>
	<xs:element name="szReportCodeAddBook017" type="T_szReportCodeAddBook017"/>
	<xs:element name="szReportCodeAddBook016" type="T_szReportCodeAddBook016"/>
	<xs:element name="szReportCodeAddBook015" type="T_szReportCodeAddBook015"/>
	<xs:element name="szReportCodeAddBook014" type="T_szReportCodeAddBook014"/>
	<xs:element name="szReportCodeAddBook013" type="T_szReportCodeAddBook013"/>
	<xs:element name="szReportCodeAddBook012" type="T_szReportCodeAddBook012"/>
	<xs:element name="szReportCodeAddBook011" type="T_szReportCodeAddBook011"/>
	<xs:element name="szReportCodeAddBook010" type="T_szReportCodeAddBook010"/>
	<xs:element name="szReportCodeAddBook009" type="T_szReportCodeAddBook009"/>
	<xs:element name="szReportCodeAddBook008" type="T_szReportCodeAddBook008"/>
	<xs:element name="szReportCodeAddBook007" type="T_szReportCodeAddBook007"/>
	<xs:element name="szReportCodeAddBook006" type="T_szReportCodeAddBook006"/>
	<xs:element name="szReportCodeAddBook005" type="T_szReportCodeAddBook005"/>
	<xs:element name="szReportCodeAddBook004" type="T_szReportCodeAddBook004"/>
	<xs:element name="szReportCodeAddBook003" type="T_szReportCodeAddBook003"/>
	<xs:element name="szReportCodeAddBook002" type="T_szReportCodeAddBook002"/>
	<xs:element name="szReportCodeAddBook001" type="T_szReportCodeAddBook001"/>
	<xs:element name="szProgramId" type="xs:string"/>
	<xs:element name="szPhoneNumberTyp2" type="xs:string"/>
	<xs:element name="szPhoneNumberTyp1" type="T_szPhoneNumberTyp1"/>
	<xs:element name="szPhoneNumber1" type="xs:string"/>
	<xs:element name="szPhoneNumber" type="xs:string"/>
	<xs:element name="szPhoneAreaCode2" type="T_szPhoneAreaCode2"/>
	<xs:element name="szPhoneAreaCode1" type="T_szPhoneAreaCode1"/>
	<xs:element name="szNameRemark" type="T_szNameRemark"/>
	<xs:element name="szNameAlpha" type="xs:string"/>
	<xs:element name="szMailingName" type="xs:string"/>
	<xs:element name="szLanguagePreference" type="T_szLanguagePreference"/>
	<xs:element name="szKanjialpha" type="T_szKanjialpha"/>
	<xs:element name="szGlBankAccount" type="T_szGlBankAccount"/>
	<xs:element name="szEmailAddressow" type="T_szEmailAddressow"/>
	<xs:element name="szEdiUserId" type="T_szEdiUserId"/>
	<xs:element name="szEdiTranslationFormat" type="T_szEdiTranslationFormat"/>
	<xs:element name="szEdiTransactNumber" type="T_szEdiTransactNumber"/>
	<xs:element name="szEdiDocumentType" type="T_szEdiDocumentType"/>
	<xs:element name="szEdiBatchNumber" type="T_szEdiBatchNumber"/>
	<xs:element name="szDescripCompressed" type="T_szDescripCompressed"/>
	<xs:element name="szCreditMessage" type="T_szCreditMessage"/>
	<xs:element name="szCountyAddress" type="T_szCountyAddress"/>
	<xs:element name="szCountry" type="xs:string"/>
	<xs:element name="szContactTitle" type="T_szContactTitle"/>
	<xs:element name="szCity" type="xs:string"/>
	<xs:element name="szCertificateTaxExempt" type="T_szCertificateTaxExempt"/>
	<xs:element name="szCategoryCodeAddressBook2" type="T_szCategoryCodeAddressBook2"/>
	<xs:element name="szCategoryCodeAddressBk30" type="T_szCategoryCodeAddressBk30"/>
	<xs:element name="szCategoryCodeAddressBk29" type="T_szCategoryCodeAddressBk29"/>
	<xs:element name="szCategoryCodeAddressBk28" type="T_szCategoryCodeAddressBk28"/>
	<xs:element name="szCategoryCodeAddressBk27" type="T_szCategoryCodeAddressBk27"/>
	<xs:element name="szCategoryCodeAddressBk26" type="T_szCategoryCodeAddressBk26"/>
	<xs:element name="szCategoryCodeAddressBk25" type="T_szCategoryCodeAddressBk25"/>
	<xs:element name="szCategoryCodeAddressBk24" type="T_szCategoryCodeAddressBk24"/>
	<xs:element name="szCategoryCodeAddressBk23" type="T_szCategoryCodeAddressBk23"/>
	<xs:element name="szCategoryCodeAddressBk22" type="T_szCategoryCodeAddressBk22"/>
	<xs:element name="szBusinessUnit" type="xs:string"/>
	<xs:element name="szAlternateAddressKey" type="T_szAlternateAddressKey"/>
	<xs:element name="szAddressLine4" type="T_szAddressLine4"/>
	<xs:element name="szAddressLine3" type="T_szAddressLine3"/>
	<xs:element name="szAddressLine2" type="T_szAddressLine2"/>
	<xs:element name="szAddressLine1" type="xs:string"/>
	<xs:element name="sessionID" type="xs:string"/>
	<xs:element name="sequenceID" type="xs:int"/>
	<xs:element name="scope" type="T_scope"/>
	<xs:element name="role" type="xs:string"/>
	<xs:element name="port" type="xs:int"/>
	<xs:element name="mnUserReservedNumber" type="xs:int"/>
	<xs:element name="mnUserReservedAmount" type="xs:int"/>
	<xs:element name="mnTimeScheduledIn" type="xs:int"/>
	<xs:element name="mnTimeOfDay" type="xs:int"/>
	<xs:element name="mnTimeLastUpdated" type="xs:int"/>
	<xs:element name="mnParentNumber" type="xs:int"/>
	<xs:element name="mnEdiLineNumber" type="xs:int"/>
	<xs:element name="mnEdiDetailLinesProcess" type="xs:int"/>
	<xs:element name="mnAddressNumber6th" type="xs:int"/>
	<xs:element name="mnAddressNumber5th" type="xs:int"/>
	<xs:element name="mnAddressNumber4th" type="xs:int"/>
	<xs:element name="mnAddressNumber3rd" type="xs:int"/>
	<xs:element name="mnAddressNumber2nd" type="xs:int"/>
	<xs:element name="mnAddressNumber1st" type="xs:int"/>
	<xs:element name="mnAddressNumber" type="xs:int"/>
	<xs:element name="jdeResponse" type="T_jdeResponse"/>
	<xs:element name="jdUserReservedDate" type="T_jdUserReservedDate"/>
	<xs:element name="jdEdiTransmissionDate" type="T_jdEdiTransmissionDate"/>
	<xs:element name="jdDateUpdated" type="T_jdDateUpdated"/>
	<xs:element name="jdDateScheduledIn" type="T_jdDateScheduledIn"/>
	<xs:element name="jdDateBeginningEffective" type="T_jdDateBeginningEffective"/>
	<xs:element name="instanceInfo" type="T_instanceInfo"/>
	<xs:element name="host" type="xs:string"/>
	<xs:element name="header" type="T_header"/>
	<xs:element name="eventVersion" type="xs:double"/>
	<xs:element name="event" type="T_event"/>
	<xs:element name="environment" type="xs:string"/>
	<xs:element name="detail_D0100085A" type="T_detail_D0100085A"/>
	<xs:element name="date" type="xs:string"/>
	<xs:element name="codepage" type="xs:int"/>
	<xs:element name="cSubledgerInactiveCode" type="T_cSubledgerInactiveCode"/>
	<xs:element name="cPersonCorporationCode" type="T_cPersonCorporationCode"/>
	<xs:element name="cMiscCode3" type="T_cMiscCode3"/>
	<xs:element name="cEdiSuccessfullyProcess" type="T_cEdiSuccessfullyProcess"/>
	<xs:element name="cDirectionIndicator" type="T_cDirectionIndicator"/>
	<xs:element name="cAddressTypeReceivables" type="T_cAddressTypeReceivables"/>
	<xs:element name="cAddressTypePayables" type="T_cAddressTypePayables"/>
	<xs:element name="cAddressTypeEmployee" type="T_cAddressTypeEmployee"/>
	<xs:element name="cAddressType5" type="T_cAddressType5"/>
	<xs:element name="cAddressType4" type="T_cAddressType4"/>
	<xs:element name="cAddressType3" type="T_cAddressType3"/>
	<xs:element name="cAddressType2" type="T_cAddressType2"/>
	<xs:element name="cAddTypeCode4Purch" type="T_cAddTypeCode4Purch"/>
	<xs:element name="cActionMessageControl" type="T_cActionMessageControl"/>
	<xs:element name="cActionCode" type="xs:int"/>
	<xs:element name="body" type="T_body"/>
	<xs:element name="application" type="xs:string"/>
</xs:schema>
