VWS_MAGENTO_2_JDE/VWS_MAGENTO_2_JDE/Files/schemas/magentoCreateOrder.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="magentoCreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="MagentoOrderId"/>
        <xs:element type="xs:string" name="CreatedDate"/>
        <xs:element type="xs:string" name="UpdatedDate"/>
        <xs:element type="xs:string" name="TaxAmount"/>
        <xs:element type="xs:string" name="ShippingAddressNb"/>
        <xs:element type="xs:string" name="ShippingExtraInfo"/>
        <xs:element type="xs:string" name="BillingAddressNb"/>
        <xs:element type="xs:string" name="BillingExtraInfo"/>
        <xs:element type="xs:string" name="ShippingAmount"/>
        <xs:element type="xs:string" name="DiscountAmount"/>
        <xs:element type="xs:string" name="SubTotal"/>
        <xs:element type="xs:string" name="GrandTotal"/>
        <xs:element type="xs:string" name="TotalQuantity"/>
        <xs:element type="xs:string" name="RemoteIP"/>
        <xs:element type="xs:string" name="Status"/>
        <xs:element type="xs:string" name="Currency"/>
        <xs:element type="xs:string" name="ShippingMethod"/>
        <xs:element type="xs:string" name="CustomerEmail"/>
        <xs:element type="xs:string" name="CustomerFullName"/>
        <xs:element type="xs:string" name="PurchaseOrderNumber"/>
        <xs:element type="xs:string" name="PaymentMethod"/>
        <xs:element type="xs:string" name="Items"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>