VWS_MAGENTO_2_JDE/VWS_MAGENTO_2_JDE/Files/schemas/orderStatusInputService.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://systinet.com/wsdl/com/magicsoftware/magicxpi/amiedubamagic/JDE/">
  <xs:element name="getOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="orderId"  minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="desiredStatus"  minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>