VWS_MAGENTO_2_JDE/VWS_MAGENTO_2_JDE/jdedwards/XSD/ORACLE-JDE_JDV900/XT4311Z1.F4311FSBeginDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Regev (private) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xsd:element name="XT4311Z1.F4311FSBeginDoc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Data">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="row">
								<xsd:complexType>
									<xsd:sequence maxOccurs="unbounded">
										<xsd:element name="mnJobNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szComputerID">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="16"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cHeaderActionCode">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cProcessEdits">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cUpdateOrWriteToWorkFile">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cRecordWrittenToWorkFile">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cCurrencyProcessingFlag">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szOrderCOmpany">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnOrderNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szOrderType">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szOrderSuffix">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szBranchPlant">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="13"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szOriginalOrderCompany">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szOriginalOrderNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="9"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szOriginalOrderType">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szRelatedOrderCompany">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szRelatedOrderNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="9"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szRelatedOrderType">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnSupplierNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnShipToNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="jdRequestedDate">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:date"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="jdOrderDate">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:date"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="jdPromisedDate">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:date"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="jdCancelDate">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:date"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szReference01">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="26"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szReference02">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="26"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szDeliveryInstructions01">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="31"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szDeliveryInstructions02">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="31"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPrintMessage">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szSupplierPriceGroup">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="9"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPaymentTerms">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szTaxExplanationCode">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szTaxRateArea">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szTaxCertificate">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="21"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cAssociatedText">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szHoldCode">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szFreightHandlingCode">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnBuyerNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnCarrierNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cEvaluatedReceiptsFlag">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cSendMethod">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szLandedCostRule">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szApprovalRouteCode">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="13"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnChangeOrderNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cCurrencyMode">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szTransactionCurrencyCode">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnCurrencyExchangeRate">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szOrderedPlacedBy">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szOrderTakenBy">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szProgramID">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szApprovalRoutePO">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="26"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderPrOptVersion">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szBaseCurrencyCode">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szUserID">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cAddNewLineToExistingOrder">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="idInternalVariables">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cSourceOfData">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnSODOrderNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szSODOrderType">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szSODOrderCompany">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szSODOrderSuffix">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnRetainage">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szDescription">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="31"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szRemark">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="31"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="jdEffectiveDate">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:date"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="jdPhysicalCompletionDate">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:date"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnTriangulationRateFromCurrenc">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnTriangulationRateToCurrency">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cCurrencyConversionMethod">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPriceAdjustmentScheduleN">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="9"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cAIADocument">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnProcessID">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnTransactionID">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnRMADocNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szRMADocType">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPOEMBFInternalFlags">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="jdUserReservedDate">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:date"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnUserReservedAmount">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szUserReservedCode">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szUserReservedReference">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="16"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnUserReservedNumber">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty01">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty02">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty03">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty04">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty05">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty06">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty07">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty08">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty09">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty10">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty11">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cPurchaseOrderProperty12">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="jdPurchaseOrderDate01">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:date"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="jdPurchaseOrderDate02">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:date"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnPOAddressBook01">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="mnPOAddressBook02">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode01">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode02">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode03">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode04">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode05">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode06">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode07">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode08">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode09">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode10">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode11">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderCode12">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szPurchaseOrderProperty13">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="31"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="POUniversalDate01">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="POUniversalDate02" type="xsd:string">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="mnClause_ID">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szAlternateAddress1">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="21"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="szAlternateAddress2">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="21"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="cRetainageIndicator">
											<xsd:annotation>
												<xsd:documentation>Required=YES</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Messages">
					<xsd:annotation>
						<xsd:documentation>Return errors/warnings messages</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="row" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Level" type="xsd:integer"/>
										<xsd:element name="ID" type="xsd:integer"/>
										<xsd:element name="DDItem" type="xsd:string"/>
										<xsd:element name="Description" type="xsd:string"/>
										<xsd:element name="SubText" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
