VWS_MAGENTO_2_JDE/VWS_MAGENTO_2_JDE/Magento/xsd/custometinfo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="customerCustomerInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customerInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="customer_id" type="xs:string"/>
							<xs:element name="created_at" type="xs:string"/>
							<xs:element name="updated_at" type="xs:string"/>
							<xs:element name="store_id" type="xs:string"/>
							<xs:element name="website_id" type="xs:string"/>
							<xs:element name="created_in" type="xs:string"/>
							<xs:element name="email" type="xs:string"/>
							<xs:element name="firstname" type="xs:string"/>
							<xs:element name="middlename" type="xs:string"/>
							<xs:element name="lastname" type="xs:string"/>
							<xs:element name="group_id" type="xs:string"/>
							<xs:element name="prefix" type="xs:string"/>
							<xs:element name="suffix" type="xs:string"/>
							<xs:element name="dob" type="xs:string"/>
							<xs:element name="taxvat" type="xs:string"/>
							<xs:element name="password_hash" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
