VWS_MAGENTO_2_JDE/VWS_MAGENTO_2_JDE/Magento/xsd/salesOrderInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="address_id" type="xs:string"/>
	<xs:element name="address_type" type="xs:string"/>
	<xs:element name="amount_refunded" type="xs:string"/>
	<xs:element name="base_amount_refunded" type="xs:string"/>
	<xs:element name="base_discount_amount" type="xs:string"/>
	<xs:element name="base_discount_invoiced" type="xs:string"/>
	<xs:element name="base_original_price" type="xs:string"/>
	<xs:element name="base_price" type="xs:string"/>
	<xs:element name="base_row_invoiced" type="xs:string"/>
	<xs:element name="base_row_total" type="xs:string"/>
	<xs:element name="base_shipping_amount" type="xs:string"/>
	<xs:element name="base_tax_amount" type="xs:string"/>
	<xs:element name="base_tax_invoiced" type="xs:string"/>
	<xs:element name="base_weee_tax_applied_amount" type="xs:string"/>
	<xs:element name="base_weee_tax_applied_row_amount" type="xs:string"/>
	<xs:element name="base_weee_tax_disposition" type="xs:string"/>
	<xs:element name="base_weee_tax_row_disposition" type="xs:string"/>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="comment" type="xs:string"/>
	<xs:element name="country_id" type="xs:string"/>
	<xs:element name="created_at" type="xs:string"/>
	<xs:element name="discount_amount" type="xs:string"/>
	<xs:element name="discount_invoiced" type="xs:string"/>
	<xs:element name="discount_percent" type="xs:string"/>
	<xs:element name="firstname" type="xs:string"/>
	<xs:element name="free_shipping" type="xs:string"/>
	<xs:element name="gift_message_available" type="xs:string"/>
	<xs:element name="is_customer_notified" type="xs:string"/>
	<xs:element name="is_qty_decimal" type="xs:string"/>
	<xs:element name="is_virtual" type="xs:string"/>
	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element ref="item_id" minOccurs="0"/>
			<xs:element ref="order_id" minOccurs="0"/>
			<xs:element ref="quote_item_id" minOccurs="0"/>
			<xs:element ref="parent_id" minOccurs="0"/>
			<xs:element ref="created_at"/>
			<xs:element ref="updated_at" minOccurs="0"/>
			<xs:element ref="product_id" minOccurs="0"/>
			<xs:element ref="product_type" minOccurs="0"/>
			<xs:element ref="product_options" minOccurs="0"/>
			<xs:element ref="weight" minOccurs="0"/>
			<xs:element ref="is_virtual" minOccurs="0"/>
			<xs:element ref="sku" minOccurs="0"/>
			<xs:element ref="name" minOccurs="0"/>
			<xs:element ref="free_shipping" minOccurs="0"/>
			<xs:element ref="is_qty_decimal" minOccurs="0"/>
			<xs:element ref="no_discount" minOccurs="0"/>
			<xs:element ref="qty_canceled" minOccurs="0"/>
			<xs:element ref="qty_invoiced" minOccurs="0"/>
			<xs:element ref="qty_ordered" minOccurs="0"/>
			<xs:element ref="qty_refunded" minOccurs="0"/>
			<xs:element ref="qty_shipped" minOccurs="0"/>
			<xs:element ref="price" minOccurs="0"/>
			<xs:element ref="base_price" minOccurs="0"/>
			<xs:element ref="original_price" minOccurs="0"/>
			<xs:element ref="base_original_price" minOccurs="0"/>
			<xs:element ref="tax_percent" minOccurs="0"/>
			<xs:element ref="tax_amount" minOccurs="0"/>
			<xs:element ref="base_tax_amount" minOccurs="0"/>
			<xs:element ref="tax_invoiced" minOccurs="0"/>
			<xs:element ref="base_tax_invoiced" minOccurs="0"/>
			<xs:element ref="discount_percent" minOccurs="0"/>
			<xs:element ref="discount_amount" minOccurs="0"/>
			<xs:element ref="base_discount_amount" minOccurs="0"/>
			<xs:element ref="discount_invoiced" minOccurs="0"/>
			<xs:element ref="base_discount_invoiced" minOccurs="0"/>
			<xs:element ref="amount_refunded" minOccurs="0"/>
			<xs:element ref="base_amount_refunded" minOccurs="0"/>
			<xs:element ref="row_total" minOccurs="0"/>
			<xs:element ref="base_row_total" minOccurs="0"/>
			<xs:element ref="row_invoiced" minOccurs="0"/>
			<xs:element ref="base_row_invoiced" minOccurs="0"/>
			<xs:element ref="row_weight" minOccurs="0"/>
			<xs:element ref="gift_message_available" minOccurs="0"/>
			<xs:element ref="weee_tax_applied" minOccurs="0"/>
			<xs:element ref="weee_tax_applied_amount" minOccurs="0"/>
			<xs:element ref="weee_tax_applied_row_amount" minOccurs="0"/>
			<xs:element ref="base_weee_tax_applied_amount" minOccurs="0"/>
			<xs:element ref="base_weee_tax_applied_row_amount" minOccurs="0"/>
			<xs:element ref="weee_tax_disposition" minOccurs="0"/>
			<xs:element ref="weee_tax_row_disposition" minOccurs="0"/>
			<xs:element ref="base_weee_tax_disposition" minOccurs="0"/>
			<xs:element ref="base_weee_tax_row_disposition" minOccurs="0"/>
			<xs:element ref="is_customer_notified" minOccurs="0"/>
			<xs:element ref="status" minOccurs="0"/>
			<xs:element ref="comment" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="item_id" type="xs:string"/>
	<xs:element name="lastname" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="no_discount" type="xs:string"/>
	<xs:element name="order_id" type="xs:string"/>
	<xs:element name="original_price" type="xs:string"/>
	<xs:element name="parent_id" type="xs:string"/>
	<xs:element name="postcode" type="xs:string"/>
	<xs:element name="price" type="xs:string"/>
	<xs:element name="product_id" type="xs:string"/>
	<xs:element name="product_options" type="xs:string"/>
	<xs:element name="product_type" type="xs:string"/>
	<xs:element name="qty_canceled" type="xs:string"/>
	<xs:element name="qty_invoiced" type="xs:string"/>
	<xs:element name="qty_ordered" type="xs:string"/>
	<xs:element name="qty_refunded" type="xs:string"/>
	<xs:element name="qty_shipped" type="xs:string"/>
	<xs:element name="quote_item_id" type="xs:string"/>
	<xs:element name="row_invoiced" type="xs:string"/>
	<xs:element name="row_total" type="xs:string"/>
	<xs:element name="row_weight" type="xs:string"/>
	<xs:element name="salesOrderInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="increment_id" type="xs:string"/>
							<xs:element name="store_id" type="xs:string"/>
							<xs:element ref="created_at"/>
							<xs:element ref="updated_at"/>
							<xs:element name="customer_id" type="xs:string"/>
							<xs:element ref="tax_amount"/>
							<xs:element ref="shipping_amount"/>
							<xs:element ref="discount_amount"/>
							<xs:element name="subtotal" type="xs:string"/>
							<xs:element name="grand_total" type="xs:string"/>
							<xs:element name="total_qty_ordered" type="xs:string"/>
							<xs:element ref="base_tax_amount"/>
							<xs:element ref="base_shipping_amount"/>
							<xs:element ref="base_discount_amount"/>
							<xs:element name="base_subtotal" type="xs:string"/>
							<xs:element name="base_grand_total" type="xs:string"/>
							<xs:element name="billing_address_id" type="xs:string"/>
							<xs:element name="shipping_address_id" type="xs:string"/>
							<xs:element name="store_to_base_rate" type="xs:string"/>
							<xs:element name="store_to_order_rate" type="xs:string"/>
							<xs:element name="base_to_global_rate" type="xs:string"/>
							<xs:element name="base_to_order_rate" type="xs:string"/>
							<xs:element ref="weight"/>
							<xs:element name="store_name" type="xs:string"/>
							<xs:element name="remote_ip" type="xs:string"/>
							<xs:element ref="status"/>
							<xs:element name="state" type="xs:string"/>
							<xs:element name="global_currency_code" type="xs:string"/>
							<xs:element name="base_currency_code" type="xs:string"/>
							<xs:element name="store_currency_code" type="xs:string"/>
							<xs:element name="order_currency_code" type="xs:string"/>
							<xs:element name="shipping_method" type="xs:string"/>
							<xs:element name="shipping_description" type="xs:string"/>
							<xs:element name="customer_email" type="xs:string"/>
							<xs:element name="customer_firstname" type="xs:string"/>
							<xs:element name="customer_lastname" type="xs:string"/>
							<xs:element name="quote_id" type="xs:string"/>
							<xs:element ref="is_virtual"/>
							<xs:element name="customer_group_id" type="xs:string"/>
							<xs:element name="customer_note_notify" type="xs:string"/>
							<xs:element name="customer_is_guest" type="xs:string"/>
							<xs:element ref="order_id"/>
							<xs:element name="shipping_address">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="parent_id"/>
										<xs:element ref="address_type"/>
										<xs:element ref="firstname"/>
										<xs:element ref="lastname"/>
										<xs:element ref="street"/>
										<xs:element ref="city"/>
										<xs:element ref="postcode"/>
										<xs:element ref="country_id"/>
										<xs:element ref="telephone"/>
										<xs:element ref="address_id"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="billing_address">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="parent_id"/>
										<xs:element ref="address_type"/>
										<xs:element ref="firstname"/>
										<xs:element ref="lastname"/>
										<xs:element ref="street"/>
										<xs:element ref="city"/>
										<xs:element ref="postcode"/>
										<xs:element ref="country_id"/>
										<xs:element ref="telephone"/>
										<xs:element ref="address_id"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="items">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" type="itemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="payment">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="parent_id"/>
										<xs:element name="amount_ordered" type="xs:string"/>
										<xs:element ref="shipping_amount"/>
										<xs:element name="base_amount_ordered" type="xs:string"/>
										<xs:element ref="base_shipping_amount"/>
										<xs:element name="method" type="xs:string"/>
										<xs:element name="po_number" type="xs:string"/>
										<xs:element name="cc_exp_month" type="xs:string"/>
										<xs:element name="cc_exp_year" type="xs:string"/>
										<xs:element name="cc_ss_start_month" type="xs:string"/>
										<xs:element name="cc_ss_start_year" type="xs:string"/>
										<xs:element name="payment_id" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="status_history">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" type="itemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shipping_amount" type="xs:string"/>
	<xs:element name="sku" type="xs:string"/>
	<xs:element name="status" type="xs:string"/>
	<xs:element name="street" type="xs:string"/>
	<xs:element name="tax_amount" type="xs:string"/>
	<xs:element name="tax_invoiced" type="xs:string"/>
	<xs:element name="tax_percent" type="xs:string"/>
	<xs:element name="telephone" type="xs:string"/>
	<xs:element name="updated_at" type="xs:string"/>
	<xs:element name="weee_tax_applied" type="xs:string"/>
	<xs:element name="weee_tax_applied_amount" type="xs:string"/>
	<xs:element name="weee_tax_applied_row_amount" type="xs:string"/>
	<xs:element name="weee_tax_disposition" type="xs:string"/>
	<xs:element name="weee_tax_row_disposition" type="xs:string"/>
	<xs:element name="weight" type="xs:string"/>
</xs:schema>
