VWS_MAGENTO_2_JDE/VWS_MAGENTO_2_JDE/jdedwards/XSD/amiedubae1_EPPD/N0100041.AddressBookMasterMBF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
<xsd:element name="N0100041.AddressBookMasterMBF">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Data">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="row">
<xsd:complexType>
<xsd:sequence maxOccurs="unbounded">
<xsd:element name="cActionCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cUpdateMasterFile">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cProcessEdits">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cSuppressErrorMessages">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szErrorMessageID">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="257"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szVersion">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnSameAsExcept">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnAddressBookNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szLongAddressNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szTaxId">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szSearchType">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szAlphaName">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="41"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szSecondaryAlphaName">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="41"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szMailingName">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="41"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szSecondaryMailingName">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="41"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szDescriptionCompressed">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="41"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szBusinessUnit">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="13"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szAddressLine1">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="41"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szAddressLine2">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="41"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szAddressLine3">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="41"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szAddressLine4">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="41"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szPostalCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="13"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCity">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="26"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCounty">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="26"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szState">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCountry">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCarrierRoute">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szBulkMailingCenter">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szPrefix1">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="7"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szPhoneNumber1">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szPhoneNumberType1">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szPhoneAreaCode2">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="7"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szPhoneNumber2">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szPhoneNumberType2">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cPayablesYNM">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cReceivablesYN">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cEmployeeYN">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cUserCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cARAPNettingY">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cSubledgerInactiveCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cPersonCorporationCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCertificate">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szAddlIndTaxID">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCreditMessage">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szLanguage">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szIndustryClassification">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cEMail">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mn1stAddressNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mn2ndAddressNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mn3rdAddressNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mn4thAddressNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mn5thAddressNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnFactorSpecialPayee">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnParentNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cAddressType3YN">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cAddressType4YN">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cAddressType5YN">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode01">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szAccountRepresentative">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode03">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szGeographicRegion">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode05">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode06">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="sz1099Reporting">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode08">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode09">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode10">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szSalesRegion">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode12">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szLineOfBusiness">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szSalesVolume">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode15">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode16">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode17">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode18">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode19">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode20">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode21">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode22">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode23">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode24">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode25">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode26">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode27">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode28">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode29">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCategoryCode30">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szGlBankAccount">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="9"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnTimeScheduledIn">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="jdDateScheduledIn">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:date"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cClearedY">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szRemark">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="31"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szUserReservedCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="jdUserReservedDate">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:date"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnUserReservedAmount">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnUserReservedNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szUserReservedReference">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="jdDateEffective">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:date"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szProgramId">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szRemark1">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="41"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnAddNumParentOriginal">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="OKToDelete">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szVersionconsolidated">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cDirectionIndicator">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cEdiSuccessfullyProcess">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCountryForPayroll">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szShortcutClientType">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szTicker">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szStockExchange">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szDUNSNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="14"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szClassificationCode01">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szClassificationCode02">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szClassificationCode03">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szClassificationCode04">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szClassificationCode05">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnNumberOfEmployee">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnGrowthRate">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szYearStarted">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szEmployeeGroupApprovals">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cIndicatorFlg">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szRevenueRange">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnABSynchStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnABServerStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnPhone1SynchStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnPhone1ServerStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnPhone2SynchStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnPhone2ServerStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnAddressSynchStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnAddressServerStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnParentAddSynchStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnPreviousF0101ErrorStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnWhosWhoSynchStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnWhosWhoServerStatus">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cCallSalesTeamAlignment">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="Messages">
<xsd:annotation>
<xsd:documentation>Return errors/warnings messages</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence minOccurs="0">
<xsd:element name="row" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Level" type="xsd:integer"/>
<xsd:element name="ID" type="xsd:integer"/>
<xsd:element name="DDItem" type="xsd:string"/>
<xsd:element name="Description" type="xsd:string"/>
<xsd:element name="SubText" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
