VWS_MAGENTO_2_JDE/VWS_MAGENTO_2_JDE/jdedwards/XSD/vmjdveolxl002.oracleoutsourcing.com_JDV910/B4200200.GetF4201OrderInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
<xsd:element name="B4200200.GetF4201OrderInfo">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Data">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="row">
<xsd:complexType>
<xsd:sequence maxOccurs="unbounded">
<xsd:element name="mnOrderNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szOrderType">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szKeyCompany">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szTakenBy">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szErrorMesgID">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cSuppressErrorMesg">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnOrderTotal">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnForeignOrderTotal">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCompany">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCustomerPO">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="26"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szHoldCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnSoldToAddrNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnShipToAddrNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szPaymentTermsCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szDisplayWeightUOM">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szDisplayVolumeUOM">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szBranchPlant">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="13"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szCurrencyCodeFrom">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnCurrencyConvRate">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szTaxArea1">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szTaxExplanationCode1">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szVendorReference2">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="26"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cBackOrderedYN">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="jdRequestedDate">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:date"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="jdTransactionDate">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:date"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="jdPromisedDelDate">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:date"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnCarrierNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnBuyerNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szRouteCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szStopCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szZoneNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnTradeDiscount">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnCommissionCode1">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnCommissionCode2">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnCommissionRate1">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnCommissionRate2">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="jdOriginalPromiseDate">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:date"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cSubstitutesAllowedYN">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cPriorityProcessing">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szPrintMesg">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szTaxExemptionCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szDeliveryInstrns1">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="31"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szDeliveryInstrns2">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="31"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szFreightHandlingCode">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnJobNumber">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="szComputerID">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnProcessID">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnTransactionID">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnFutureUse3Numeric">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnFutureUse3Numeric_2">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnFutureUse3Numeric_3">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnFutureUse3Numeric_4">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnRequestedDeliveryTime">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnPromisedPickTime">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnAddressNumberPaidBy">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnAddressNumberInvoicedTo">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnAddressNumberForwardedTo">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="mnAddressNumberDeliveredTo">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="32"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cAddressNumberForTax">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="cAddressNumberForTransport">
<xsd:annotation>
<xsd:documentation>Required=YES</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="Messages">
<xsd:annotation>
<xsd:documentation>Return errors/warnings messages</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence minOccurs="0">
<xsd:element name="row" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Level" type="xsd:integer"/>
<xsd:element name="ID" type="xsd:integer"/>
<xsd:element name="DDItem" type="xsd:string"/>
<xsd:element name="Description" type="xsd:string"/>
<xsd:element name="SubText" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
