VWS_MAGENTO_2_JDE/VWS_MAGENTO_2_JDE/DynamicsAX/JDESalesOrderManager_Dynamics/XSD/SalesOrderManager/Fault/Schema0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Error">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="ErrorCode" type="xs:int" minOccurs="0"/>
				<xs:element name="Message" type="xs:string" minOccurs="0"/>
				<xs:element name="StackTrace" type="xs:string" minOccurs="0"/>
				<xs:element name="InnerException" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>