REX_MAGENTO_JDE/REX_MAGENTO_JDE/Files/schemas/magentoOrderLinesDataMapper.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="magentoOrderLines">
    <xs:complexType>
      <xs:sequence>
  
  <xs:element name="orderItems" maxOccurs="unbounded" minOccurs="0">
    <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:string" name="sku"/>
                    <xs:element type="xs:decimal" name="qty"/>
                    <xs:element type="xs:decimal" name="tax"/>
                    <xs:element type="xs:decimal" name="price"/>
            </xs:sequence>
        </xs:complexType>
  </xs:element>
  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>