REX_MAGENTO_JDE/REX_MAGENTO_JDE/Files/schemas/orderStatusInputMapper - Copy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getOrderStatus">
      <xs:element type="xs:string" name="orderId"  minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="desiredStatus"  minOccurs="0" maxOccurs="1"/>
  </xs:element>
</xs:schema>