REX_MAGENTO_JDE/REX_MAGENTO_JDE/Service/GetOrderStatus/GetOrderStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GetOrderStatusIFCSetup">
		<xs:complexType>
			<xs:sequence>
								<xs:element name="GetOrderStatus" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
					<xs:all>
				
													<xs:element name="OrderId" type="xs:base64Binary" minOccurs="1"/>	
										
					</xs:all>
				</xs:complexType>
								</xs:element>
							</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
